.rogi {
    background-color: #4E9FEE;
    color: #fff;
    height: 90px;
    width: 400px;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #fff;
    font-family: tahoma;
    padding: 5px;
/*    align-items: center;
    justify-content: center;*/
}

.cien, .cien2{
    background-color: #4e9fee;
    color: #fff;
    height: 90px;
    width: 400px;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #fff;
    font-family: tahoma;
    padding: 5px;
    -khtml-box-shadow: 3px 3px #666;
    -moz-box-shadow: 3px 3px #666;
    -webkit-box-shadow: 3px 3px #666;
    box-shadow: 3px 3px #666;
}

span li a  {
    cursor: pointer;
}

.przezroczystosc {
     background-color: rgb(255,0,0);
     opacity:0.2;
     font-weight:bolder;
     color:blue;
 }
.przezroczystosc2 {
    background-color: rgb(255,0,0);
    opacity:0.6;
    font-weight:bolder;
    color:blue;
}

.przezroczystosc3 {
    background-color: rgb(255,0,0);
    opacity:0.9;
    font-weight:bolder;
    color:blue;
}

.przezroczystosc4 {
    background-color: rgb(255,0,0);
    opacity:inherit;
    font-weight:bolder;
    color:blue;
}

.przezroczystosc5 {
    background-image: url("public/images/images.jpg");
    background-color: rgba(100,125,153,.5);
    font-weight:bolder;
    color:blue;
}

#linear1 {
    width: 400px;
    height: 100px;
    margin: auto;
    background: linear-gradient(black, blue);
}

#linear3 {
    width: 400px;
    height: 100px;
    margin: auto;
    background: linear-gradient(45deg, white, blue);
}

#radial1 {
    width: 100px;
    height: 100px;
    margin: auto;
    background: radial-gradient(circle, #00f, #000);
}

#tecza {
    width: 400px;
    height: 200px;
    margin: auto;
    background: radial-gradient(200px 200px ellipse, violet 30px, indigo 60px, blue 90px, green 120px, yellow 150px, orange 180px, red 10px, #000);
}